<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Voltmeter.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <Voltmeter.UI.Properties.Settings>
            <setting name="Resistance" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ResistanceUnitIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="VoltageUnitIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CurrentUnitIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PowerUnitIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EnergyUnitIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Precision" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PollingInterval" serializeAs="String">
                <value>00:00:00.4000000</value>
            </setting>
            <setting name="Use10BitsVoltage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VoltageScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DurationUpdateInterval" serializeAs="String">
                <value>00:00:00.0500000</value>
            </setting>
            <setting name="NoiseThreshold" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="NoiseThresholdUnitIndex" serializeAs="String">
                <value>1</value>
            </setting>
        </Voltmeter.UI.Properties.Settings>
    </userSettings>
</configuration>
